@font-face {
  font-family: 'Switzer';
  src: url('./OTF/Switzer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./OTF/Switzer-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./OTF/Switzer-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Add more weights/styles as needed */
