.nav-nav {
    margin-top: 20px;
  overflow: hidden;
  background-color: rgba(97, 92, 92, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  
}


.wrapper-nav{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 10px;
}

.container-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
@media only screen and (max-width: 608px) {
  .navbody-columns {
    flex-direction: column;
    gap: 30px !important;
  }

   .wrapper-nav {
    flex-direction: column;
    gap: 10px;
  }

  .container-nav {
    padding: 0 10px;
  }
}
